In [1]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
df=pd.read_csv('census_town_data_at_district_level_Explorin.csv')
df

,state_code,state_name,district_code,district_name,total_households,total_population,total_population_male,total_population_female,total_population_sc,total_population_male_sc,...,govt_medical_college,pvt_medical_college,govt_engineering_college,pvt_engineering_college,govt_management_college,pvt_management_college,govt_polytechnic_college,pvt_polytechnic_college,govt_disabled_school,pvt_disabled_school
0,1,jammu & kashmir,0,towns are spread over in more then one district.,204812.0,1357011,709542.0,647469.0,999.0,926.0,...,2.0,0.0,2.0,1.0,2.0,2.0,3.0,1.0,1.0,2.0
1,1,jammu & kashmir,1,kupwara,11999.0,104729,62152.0,42577.0,176.0,176.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1,jammu & kashmir,2,badgam,10743.0,78360,44768.0,33592.0,282.0,265.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
3,1,jammu & kashmir,3,leh (ladakh),7004.0,45671,30560.0,15111.0,380.0,355.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,1,jammu & kashmir,4,kargil,2191.0,16338,10082.0,6256.0,8.0,7.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
633,34,puducherry,635,puducherry,162016.0,657209,323489.0,333720.0,66782.0,32449.0,...,2.0,1.0,1.0,1.0,2.0,4.0,2.0,0.0,5.0,4.0
634,34,puducherry,636,mahe,7420.0,41816,19143.0,22673.0,144.0,77.0,...,1.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0
635,34,puducherry,637,karaikal,24184.0,98102,47671.0,50431.0,10547.0,5093.0,...,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,2.0,0.0
636,35,andaman & nicobar island,639,north & middle andaman district,724.0,2741,1404.0,1337.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
637,35,andaman & nicobar island,640,south andaman district,35297.0,140747,75180.0,65567.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0

In [2]:
df.shape

(638, 51)

In [6]:
df.notnull()

,state_code,state_name,district_code,district_name,total_households,total_population,total_population_male,total_population_female,total_population_sc,total_population_male_sc,...,govt_medical_college,pvt_medical_college,govt_engineering_college,pvt_engineering_college,govt_management_college,pvt_management_college,govt_polytechnic_college,pvt_polytechnic_college,govt_disabled_school,pvt_disabled_school
0,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
1,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
2,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
3,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
4,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
633,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
634,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
635,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
636,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
637,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True

In [7]:
df.describe()

,state_code,district_code,total_households,total_population,total_population_male,total_population_female,total_population_sc,total_population_male_sc,total_population_female_sc,total_population_st,...,govt_medical_college,pvt_medical_college,govt_engineering_college,pvt_engineering_college,govt_management_college,pvt_management_college,govt_polytechnic_college,pvt_polytechnic_college,govt_disabled_school,pvt_disabled_school
count,638.000000,638.000000,6.380000e+02,6.380000e+02,6.380000e+02,6.380000e+02,6.380000e+02,638.000000,638.000000,638.000000,...,638.000000,638.000000,638.000000,638.000000,638.000000,638.000000,638.000000,638.000000,638.000000,638.000000
mean,17.133229,320.115987,1.268369e+05,5.910176e+05,3.063199e+05,2.846011e+05,7.446387e+04,38752.719436,36209.117555,16384.974922,...,0.474922,0.725705,0.515674,2.346395,0.484326,3.079937,1.401254,1.515674,1.145768,1.869906
std,9.392511,184.913682,2.358980e+05,1.042168e+06,5.478101e+05,4.944052e+05,1.318548e+05,69423.604702,63692.598154,31960.923955,...,1.219349,2.583305,1.157423,6.280273,1.336214,11.389833,1.972049,4.445615,2.148872,4.223022
min,1.000000,0.000000,1.870000e+02,9.820000e+02,6.250000e+02,3.570000e+02,0.000000e+00,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,9.000000,161.250000,2.271900e+04,1.102080e+05,5.857175e+04,5.309750e+04,1.118925e+04,5901.250000,5408.250000,767.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,18.000000,320.500000,5.502800e+04,2.770305e+05,1.449920e+05,1.339810e+05,3.686400e+04,18939.500000,18027.500000,5655.500000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000
75%,24.000000,479.750000,1.279210e+05,6.246668e+05,3.197410e+05,3.010962e+05,8.174925e+04,41292.500000,39964.500000,17743.250000,...,1.000000,0.000000,1.000000,2.000000,1.000000,2.000000,2.000000,2.000000,1.000000,2.000000
max,35.000000,640.000000,2.366175e+06,1.129236e+07,6.022351e+06,5.270007e+06,1.788460e+06,945821.000000,842639.000000,290199.000000,...,13.000000,38.000000,14.000000,62.000000,20.000000,222.000000,14.000000,79.000000,22.000000,60.000000

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 638 entries, 0 to 637
Data columns (total 51 columns):
 #   Column                                    Non-Null Count  Dtype
---  ------                                    --------------  -----
 0   state_code                                638 non-null    int64
 1   state_name                                638 non-null    object
 2   district_code                             638 non-null    int64
 3   district_name                             638 non-null    object
 4   total_households                          638 non-null    float64
 5   total_population                          638 non-null    int64
 6   total_population_male                     638 non-null    float64
 7   total_population_female                   638 non-null    float64
 8   total_population_sc                       638 non-null    float64
 9   total_population_male_sc                  638 non-null    float64
 10  total_population_female_sc                638 non-null    float64
 11  total_population_st                       638 non-null    float64
 12  total_population_male_st                  638 non-null    float64
 13  total_population_female_st                638 non-null    float64
 14  area_km                                   638 non-null    float64
 15  govt_primary_school                       638 non-null    float64
 16  pvt_primary_school                        638 non-null    float64
 17  govt_middle_school                        638 non-null    float64
 18  pvt_middle_school                         638 non-null    float64
 19  govt_secondary_school                     638 non-null    float64
 20  pvt_secondary_school                      638 non-null    float64
 21  govt_senior_secondary_school              638 non-null    float64
 22  pvt_senior_secondary_school               638 non-null    float64
 23  govt_art_degree_college                   638 non-null    float64
 24  pvt_art_degree_college                    638 non-null    float64
 25  govt_science_college                      638 non-null    float64
 26  pvt_science_college                       638 non-null    float64
 27  govt_commerce_college                     638 non-null    float64
 28  pvt_commerce_college                      638 non-null    float64
 29  govt_art_science_degree_college           638 non-null    float64
 30  pvt_art_science_degree_college            638 non-null    float64
 31  govt_art_commerce_degree_college          638 non-null    float64
 32  pvt_art_commerce_degree_college           638 non-null    float64
 33  govt_art_science_commerce_degree_college  638 non-null    float64
 34  pvt_art_science_commerce_degree_college   638 non-null    float64
 35  govt_law_degree_college                   638 non-null    float64
 36  pvt_law_degree_college                    638 non-null    float64
 37  govt_university                           638 non-null    float64
 38  pvt_university                            638 non-null    float64
 39  govt_other_degree_college                 638 non-null    float64
 40  pvt_other_degree_college                  638 non-null    float64
 41  govt_medical_college                      638 non-null    float64
 42  pvt_medical_college                       638 non-null    float64
 43  govt_engineering_college                  638 non-null    float64
 44  pvt_engineering_college                   638 non-null    float64
 45  govt_management_college                   638 non-null    float64
 46  pvt_management_college                    638 non-null    float64
 47  govt_polytechnic_college                  638 non-null    float64
 48  pvt_polytechnic_college                   638 non-null    float64
 49  govt_disabled_school                      638 non-null    float64
 50  pvt_disabled_school                       638 non-null    float64
dtypes: float64(46), int64(3), object(2)
memory usage: 254.3+ KB

In [11]:
df.quality.unique()

AttributeError: 'DataFrame' object has no attribute 'quality'

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
df2=pd.read_csv('census_village_data_at_district_level_Explorin.csv')
df2

,state_code,state_name,district_code,district_name,total_households,total_population,total_population_male,total_population_female,total_population_SC,total_population_male_SC,...,govt_polytechnic_college,pvt_polytechnic_college,govt_vocational_ITI_training,pvt_vocational_ITI_training,govt_non_formal_training_centre,pvt_non_formal_training_centre,govt_disabled_school,pvt_disabled_school,govt_other_education,pvt_other_education
0,1.0,JAMMU & KASHMIR,1.0,Kupwara,101930.0,765625.0,412038.0,353587.0,872.0,870.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1.0,JAMMU & KASHMIR,2.0,Badgam,89417.0,655833.0,343385.0,312448.0,86.0,78.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1.0,JAMMU & KASHMIR,3.0,Leh(Ladakh),14905.0,87816.0,48411.0,39405.0,108.0,89.0,...,1.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,222.0
3,1.0,JAMMU & KASHMIR,4.0,Kargil,16147.0,124464.0,67703.0,56761.0,10.0,5.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,128.0,246.0
4,1.0,JAMMU & KASHMIR,5.0,Punch,83045.0,438205.0,229774.0,208431.0,278.0,248.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
626,34.0,PUDUCHERRY,635.0,Puducherry,69497.0,293080.0,144769.0,148311.0,85624.0,41680.0,...,0.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,22.0
627,34.0,PUDUCHERRY,637.0,Karaikal,25521.0,102120.0,50138.0,51982.0,24801.0,12113.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,6.0
628,35.0,ANDAMAN & NICOBAR ISLANDS,638.0,Nicobars,9288.0,36842.0,20727.0,16115.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
629,35.0,ANDAMAN & NICOBAR ISLANDS,639.0,North & Middle Andaman,25475.0,102856.0,53457.0,49399.0,0.0,0.0,...,0.0,0.0,1.0,0.0,6.0,6.0,1.0,0.0,3.0,0.0
630,35.0,ANDAMAN & NICOBAR ISLANDS,640.0,South Andaman,23767.0,97395.0,52103.0,45292.0,0.0,0.0,...,2.0,0.0,2.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0

In [ ]:
dict1={
    dist=[""]
}